<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
    <link rel="stylesheet" href="./res/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./res/font-awesome-4.7.0/css/font-awesome.min.css">
   <script src="./res/jquery.min.js"></script>
   <script src="./res/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </head>
  <body>
<nav class="navbar navbar-light bg-faded">
  <h3>beemp.</h3>
</nav>

<div class="jumbotron text-center">
  <h1>Welcome to <strong>beemp.</strong></h1>
  <h6>sign in to continue</h6>
</div>

<div class="container" style="padding-top: 50px;">
  <div class="row">
    <!-- SIGN IN -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Sign In</h3>
          <form action="index.html" method="post">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br><p>don't have an account? <a href="/register">register</a></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <br>
      <br>
      <h5>The best darn twitter clone you are ever going to see*</h5>
      <h6 style="color: grey;">(*that was made by me)</h6>
    </div>
  </div>
</div>
</body>
</html>
