<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beemp - Edit</title>
  </head>
  <body>
    <h1>{{message.name}}</h1>
    <form action="/beemp/edit/{{message._id}}" method="post">
      <div class="form-group">
        <label>Message</label><input type="text" name="message" value="{{message.message}}">
      </div>
      <button type="submit">Update</button>
  </body>
</html>
